@font-face {
    font-family: roboto-lite;
    src: url('../font/roboto/Roboto-Thin.woff2') format('woff2'),
        url('../font/roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: roboto-thin;
    src: url('../font/roboto/Roboto-Light.woff2') format('woff2'),
        url('../font/roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

