extends ../temp/temp
block top
    section.blog.blog--margin
        .container.container__blog
            .info__wrap
                h2.info__title.color--blue Our Blog
                p.info__text.color--dark 
                    | Here's where we address the burning questions. From new tech, creative inspiration and new business wins to movie reviews. It's all here in our journal.
                .logos__line.line__small.line--margin o
                    span.logos__title
                h2.info__title-small 
                    | g+ notifications icon position in Chrome makes me 
                    | screeaaaaam :)
                p.info__text-small December 17, 2014
                h2.info__title-small 
                    | Pointers on Product Development
                p.info__text-small August 19, 2014
        .info__wrap.bg--colored    
            h2.info__title-small
                |The Art of Vulnerable Development
            p.info__text-small July 09, 2014
        .container.container__blog
            .info__wrap    
                h2.info__title-small 
                    |Project Managers - are they the evolutionary “pinkie toe”
                    |of development?
                p.info__text-small June 19, 2014
                h2.info__title-small 
                    | $50,000 Competition Winner - Ziteboard
                p.info__text-small June 06, 2014
                h2.info__title-small 
                    |A New Project Begins...
                p.info__text-small May 30, 2014
                h2.info__title-small 
                    |Competition Spirit
                p.info__text-small May 27, 2014
                h2.info__title-small 
                    | agile. With a little "a".
                p.info__text-small May 15, 2014
                h2.info__title-small 
                    | Sun Tzu, Modern Businessman
                p.info__text-small May 13, 2014
                h2.info__title-small 
                    | Ideas from Non-Tech Professionals
                p.info__text-small May 01, 2014
                .info__box
                    a.blog__arrow.blog__arrow--right.link--reset(href="#") <b>&#8406;</b> Previous 
                    a.blog__arrow.blog__arrow--left.link--reset(href="#") Next <b>&#8407;</b>
block hero
    section.hero__wrap.margin--hero
        .container
            h3.logos__text.color--dark Want to start the conversation?
            a.logos__btn.btn.color--dark.btn--dark Contact Us
                