extends ../temp/temp
block top
    section.info.info--position
        .container
            .info__wrap.pillars--padding.pillars--position
                h2.info__title 
                p.info__text 
                    | 
    section.data
        .container
            .container.data__container
                ul.list--reset.data__column
                    li.data__col
                        p.data__text by <b>Cassandra Stish</b> on December 17, 2014
                        h2.data__title.data__title--big
                            |Project Managers - are they the 
                            |evolutionary “pinkie toe” of 
                            |development?
                        p.data__text
                            |First paragraph is autmatically formatted to look like a proper lead. This means that he first sentence or two will be formated like this. Read more to see all the elements and typography showcase. 
                    li.data__col
                        p.data__text 
                            |This is regular paragraph text. Etiam bibendum pellentesque orci, sed ornare libero 
                            |iaculis quis. Morbi at felis et massa molestie vulputate vitae non urna. Phasellus 
                            |augue diam, lacinia id cursus quis, ultricies non sapien. Suspendisse lobortis arcu 
                            |non molestie commodo.
                        p.data__text 
                            |Donec lorem est, porttitor eget elit in, molestie vehicula urna. Nam lobortis, tortor vel pellentesque ullamcorper, urna metus tempus ligula, a malesuada enim libero ut nunc. Donec varius neque quis aliquam euismod. Nam blandit mi et urna tempor, ac 
                            |tincidunt nibh ullamcorper.
                        p.data__text
                            |Nulla facilisi. Integer tortor ipsum, congue eu risus eu, interdum laoreet sapien. Aenean at consequat risus. <b>Vivamus vestibulum feugiat</b> sem vel eleifend. Nam et mi porta, 
                            |tristique massa et, feugiat odio. Sed turpis sapien, pulvinar non placerat id, auctor at purus. Sed at rutrum elit. Phasellus molestie cursus porttitor. Proin eu adipiscing ante, sit amet tincidunt ligula.
                    li.data__col.data__col--margin
                        p.data__text.data__text--border 
                            |<i>“Outside of a dog, a book is a man's best friend. Inside of a dog it's</i> 
                            |<i>too dark to read.” -Groucho Marx</i>
                    li.data__col
                        p.data__text 
                            |Nulla facilisi. Integer tortor ipsum, congue eu risus eu, interdum laoreet sapien. Aenean at consequat risus. Vivamus vestibulum feugiat sem vel eleifend. Nam et mi porta, 
                            |tristique massa et, feugiat odio. Sed turpis sapien, pulvinar non placerat id, auctor at purus. Sed at rutrum elit. Phasellus molestie cursus porttitor. Proin eu adipiscing ante, sit amet tincidunt ligula.
                        .data__box
                            img.data__img(src="img/workshop.png", alt="no")
                        h2.data__title 
                            |This is a subtitle
                        p.data__text 
                            |Nulla facilisi. Integer tortor ipsum, congue eu risus eu, interdum laoreet sapien. 
                            |Aenean at consequat risus. Vivamus vestibulum feugiat sem vel eleifend. Nam et mi porta, tristique massa et, feugiat odio. Sed turpis sapien, pulvinar non placerat id, auctor at purus. Sed at rutrum elit. Phasellus molestie cursus porttitor. Proin eu 
                            |adipiscing ante, sit amet tincidunt ligula.
                    li.data__col
                        h2.data__title 
                            |This is another subtitle with p text and bulletpoints
                        p.data__text 
                            |Nulla facilisi. Integer tortor ipsum, congue eu risus eu, interdum laoreet sapien. 
                            |Aenean at consequat risus. Vivamus vestibulum feugiat sem vel eleifend. Nam et mi porta, tristique massa et, feugiat odio. Sed turpis sapien, pulvinar non placerat id, auctor at purus. Sed at rutrum elit. Phasellus molestie cursus porttitor. Proin eu 
                            |adipiscing ante, sit amet tincidunt ligula.
                    li.data__col
                        ul.data__list.data__text--border.list--reset.color--gray
                            li.data__type 1. Nam metus turpis, faucibus quis
                            li.data__type 2. Iaculis dignissim nisl lorem ipsum dolor
                            li.data__type 3. Vestibulum eget odio ac ante ornare
                        p.data__text 
                            |Nulla facilisi. Integer tortor ipsum, congue eu risus eu, interdum laoreet sapien. 
                            |Aenean at consequat risus. Vivamus vestibulum feugiat sem vel eleifend. Nam et mi porta, tristique massa et, feugiat odio. Sed turpis sapien, pulvinar non placerat id, auctor at purus. Sed at rutrum elit. Phasellus molestie cursus porttitor. Proin eu 
                            |adipiscing ante, sit amet tincidunt ligula.
                    li.data__col
                        h2.data__title 
                            |What about code?
                        p.data__text 
                            |Nulla facilisi. Integer tortor ipsum, congue eu risus eu, interdum laoreet sapien. 
                            |Aenean at consequat risus. Vivamus vestibulum feugiat sem vel eleifend. Nam et mi porta, tristique massa et, feugiat odio. Sed turpis sapien, pulvinar non placerat id, auctor at purus. Sed at rutrum elit. Phasellus molestie cursus porttitor. Proin eu 
                            |adipiscing ante, sit amet tincidunt ligula.
                    li.data__col.data__col--flex
                            .info__box
                                a.blog__arrow.logos__btn--margin.blog__arrow--right.link--reset(href="#") <b>&#8406;</b> Previous 
                                a.blog__arrow.logos__btn--margin.blog__arrow--left.link--reset(href="#") Next <b>&#8407;</b>
                            .info__box
                                a.blog__arrow.logos__btn--margin.blog__arrow--right.link--reset(href="#") Tweet This 
                                a.blog__arrow.logos__btn--margin.blog__arrow--left.link--reset(href="#") Facebook This </b>
    section.hero__wrap.margin--hero
        .container
            h3.logos__text.color--dark Want to start the conversation?
            a.logos__btn.btn.color--dark.btn--dark Contact Us