extends ../temp/temp
block top
    section.top
        .container.top__container
            h1.top__title
                | Radically Transparent
                br
                span.top__colored Web and Mobile 
                |Development
    section.scroll
        .container.container__scroll
            div.scroll__icon
                img.scroll__img(src="img/mouse.png", alt="no")
                .scroll__text Scroll Down To See More
block info
    section.info
        .container
            .info__wrap
                h2.info__title We build applications for people
                p.info__text 
                    | Watching your idea develop into a valuable application should be fun, not daunting. Our approach makes you an 
                    | integral part of the process while improving your tech 
                    | along the way.
    section.logos
        .container.logos__container
            .logos__line
                span.logos__title Some of Our Dear Clients
            .logos__grid
                    .logos__col
                        img.logos__img(src="img/logos/1.png", alt="no")
                    .logos__col
                        img.logos__img(src="img/logos/2.png", alt="no")
                    .logos__col
                        img.logos__img(src="img/logos/3.png", alt="no")
                    .logos__col
                        img.logos__img(src="img/logos/4.png", alt="no")
                    .logos__col
                        img.logos__img(src="img/logos/5.png", alt="no")
                    .logos__col
                        img.logos__img(src="img/logos/6.png", alt="no")
                    .logos__col
                        img.logos__img(src="img/logos/7.png", alt="no")
                    .logos__col
                        img.logos__img(src="img/logos/8.png", alt="no")
                    .logos__col
                        img.logos__img(src="img/logos/9.png", alt="no")
                    .logos__col
                        img.logos__img(src="img/logos/10.png", alt="no")
                    .logos__col
                        img.logos__img(src="img/logos/11.png", alt="no")
                    .logos__col
                        img.logos__img(src="img/logos/12.png", alt="no")
                    .logos__col
                        img.logos__img(src="img/logos/13.png", alt="no")
                    .logos__col
                        img.logos__img(src="img/logos/14.png", alt="no")
                    .logos__col
                        img.logos__img(src="img/logos/15.png", alt="no")
                    .logos__col
                        img.logos__img(src="img/logos/16.png", alt="no")
            section.logos__wrap
                h3.logos__text Want to start the conversation?
                a.logos__btn.btn Contact Us
block hero
    section.hero
        .container
            .info__wrap
                h2.info__title.color--dark Digital Expertise
                p.info__text.color--dark 
                    | We have managed every facet of development from 
                    |  ideation to launch and use our experience to solve
                    |  problems before they arise. Our design-oriented approach ensures your software will feel like home to your users, whether you have one or one million. 
    section.hero__wrap
        .container
            h3.logos__text.color--dark Want to start the conversation?
            a.logos__btn.btn.color--dark.btn--dark Contact Us
