extends ../temp/temp
block top
    section.info.info--position
        .container
            .info__wrap.pillars--padding
                h2.info__title Let's Talk About You
                p.info__text 
                    | If you think we'd be a good fit for your next project or have an idea you'd like to share with us, we'd love to hear all about it. 
            .info__input--wrap
            form(action="#", method="get")
                input.info__input(type="text",placeholder=" Your Name...")
                input.info__input(type="email",placeholder=" Your Name...")
                textarea(name="text", cols="50", rows="10")
                a.info__btn.btn
