extends ../temp/temp
block top
    section.info.info--position
        .container
            .info__wrap.pillars--padding
                h2.info__title Our Approach
                p.info__text 
                    | Our process is highly iterative and focused on the needs of your business and its customers. Technology exists for the people who use it, and we never forget that.
    section.pillars
        .container
            .pillars__container
                ul.pillars__wrap.list--reset
                    li.pillars__col
                        .pillars__box
                            img.pillars__img(src="img/pillars/1.png", alt="no")
                        h2.pillars__title Pleased to Meet You 
                        p.pillars__text 
                            |Your vision matters most, and we want to learn 
                            |about it while getting to know you and your 
                            |business needs. We are not faceless mercenaries, 
                            |but a talented team of developers & designers that wants to help you succeed.
                    li.pillars__col
                        .pillars__box
                            img.pillars__img(src="img/pillars/2.png", alt="no")
                        h2.pillars__title Planning Session
                        p.pillars__text 
                            |Furious whiteboarding and challenged ideas will lead to a sketch of your idea while generating a set of user stories, which are your entire application in written form. We will use these to prioritize your needs, 
                            |estimate your cost and get cracking on 
                            |the code. 
                    li.pillars__col
                        .pillars__box
                            img.pillars__img(src="img/pillars/3.png", alt="no")
                        h2.pillars__title Design
                        p.pillars__text 
                            |Design is where form and function meet. Tools are only as powerful as one’s ability to use them, and we will work together to design intuitive, powerfully simple applications. Our designers are artists, and our developers are craftsmen. Your software will look as good as it feels.
                    li.pillars__col
                        .pillars__box
                            img.pillars__img(src="img/pillars/4.png", alt="no")
                        h2.pillars__title Minimum Viable Product
                        p.pillars__text 
                            |Everything comes together in your Minimum Viable Product. We will get this into the hands of users in order to learn from their interactions and the data they generate. This saves you money by taking the guesswork out of development. We will crunch the numbers and sweat the technical details to keep you on the path to profitability.
                    li.pillars__col
                        .pillars__box
                            img.pillars__img(src="img/pillars/5.png", alt="no")
                        h2.pillars__title Iterate
                        p.pillars__text 
                            |You have users, revenue and an appetite for more. Lessons learned will be turned into improved 
                            |functionality and a better, stronger application, 
                            |capturing more users along the way. Perhaps you are ready to hire your own tech team, and we will proudly hand you off like parents at the first day 
                            |of school…but you will always have a room in 
                            |our home.
block hero
    section.bottom
        .container.bottom__container
            h2.bottom__title Our Digital Expertise
            ul.bottom__wrap.list--reset
                li.bottom__col
                    h2.col__title Web Applications
                    p.col__text 
                        |If your business is on the web then we can help build it or make it better.
                li.bottom__col
                    h2.col__title Web Applications
                    p.col__text 
                        |If your business is on the web then we can help build it or make it better.
                li.bottom__col
                    h2.col__title Web Applications
                    p.col__text 
                        |If your business is on the web then we can help build it or make it better.
                li.bottom__col
                    h2.col__title Web Applications
                    p.col__text 
                        |If your business is on the web then we can help build it or make it better.
                li.bottom__col
                    h2.col__title Web Applications
                    p.col__text 
                        |If your business is on the web then we can help build it or make it better.
                li.bottom__col
                    h2.col__title Web Applications
                    p.col__text 
                        |If your business is on the web then we can help build it or make it better.
        
        .hero__wrap
            .container
                h3.logos__text.color--dark Want to start the conversation?
                a.logos__btn.btn.color--dark.btn--dark Contact Us