<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="node_modules/hamburgers/dist/hamburgers.css")
        link(rel="stylesheet", href="css/style.css")
    body
        .wrapper
            header.header
                .container.header__container
                    .logo
                        |Dai
                        span.logo__colored
                            |Katana
                        .logo__bass
                            svg.logo__svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16')
                                style.
                                    tspan { white-space:pre }
                                    .shp0 { fill: #e7dfca }
                                g#Header
                                    g#logo
                                    path.shp0(id='Shape 1' d='M13.19 2.22L12.45 3.33C13.8 4.43 14.67 6.11 14.67 7.99C14.67 9.87 13.8 11.55 12.45 12.65L13.19 13.76C14.9 12.42 16 10.33 16 7.99C16 5.65 14.9 3.57 13.19 2.22ZM11.7 4.45L10.95 5.57C11.6 6.18 12.01 7.03 12.01 7.99C12.01 8.95 11.6 9.81 10.95 10.42L11.7 11.53C12.7 10.68 13.33 9.41 13.33 7.99C13.33 6.57 12.7 5.31 11.7 4.45ZM8 0.66C7.22 0.66 6.98 1.11 6.98 1.11C6.98 1.11 4.94 3.36 3.53 4.35C3.27 4.51 2.99 4.66 2.49 4.66L1.33 4.66C0.6 4.66 0 5.26 0 5.99L0 9.99C0 10.73 0.6 11.32 1.33 11.32L2.49 11.32C2.99 11.32 3.27 11.47 3.53 11.64C4.94 12.63 6.98 14.87 6.98 14.87C6.98 14.87 7.22 15.32 8 15.32C8.74 15.32 9.33 14.73 9.33 13.99L9.33 1.99C9.33 1.25 8.74 0.66 8 0.66Z')

                    nav.navbar
                        a.navbar__link.link--reset(href="#") Our Approach
                        a.navbar__link.link--reset(href="#") See Our Work
                        a.navbar__link.link--reset(href="#") Our Blog
                        .navbar__wrap
                            a.navbar__btn.btn(href="#") Contact Us
                    button.hamburger.hamburger--3dx(type='button')
                        span.hamburger-box
                            span.hamburger-inner
                    nav.mobile.hide
                        a.mobile__link.link--reset(href="#") Our Approach
                        a.mobile__link.link--reset(href="#") See Our Work
                        a.mobile__link.link--reset(href="#") Our Blog
                        a.navbar__btn.btn(href="#") Contact Us
            block top
            block info
            block hero
            footer.footer
                .container.footer__container
                    .logo
                        |Dai
                        span.logo__colored
                            |Katana
                    nav.footer__nav
                        a.footer__link.link--reset(href="#") Our Blog
                        a.footer__link.link--reset(href="#") Twitter
                        a.footer__link.link--reset(href="#") Facebook 
                    

        script.
            var hamburger = document.querySelector(".hamburger");
            var mobile = document.querySelector(".mobile");
            hamburger.addEventListener("click", function() {
            hamburger.classList.toggle("is-active");
            mobile.classList.toggle("is-active");
            });
